<header>
<h1 class = "text-center mt-4 mb-5 p-3 mb-2 bg-danger text-white">Louisville Service center</h1>

<%# This displayed count will change with the total number of active jobs in the system %>
<h2 class = "text-center mt-4 mb-2 ">Total Numbers of active repair Jobs:</h2>
</header>

  <%# div container for job total count %>
  <div>
      <h3 class = "mt-5 mb-3 text-center display-1 text-danger"><%=Job.count%></h3>
  </div>
  <br>
  <br>
<%# div element for containing home screen buttons %>
  <div class="d-flex justify-content-center mt-3 mb-3 ">
       <%= link_to 'View Current Job List', jobs_path(@job), :class => "btn btn-primary mx-4 p-3" %>
       <%= link_to 'Create a New Job', new_job_path(@job), :class => "btn btn-primary mx-4 p-3" %>
  </div>
